In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
x = pd.Series([10, 20, 30, 40, 50])
print(x)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
x.values

array([10, 20, 30, 40, 50])

In [7]:
data = [450, 650, 870]
Sales = Series(data, index=['Don', 'Mike', 'Edwin'])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

In [8]:
type(Sales)

pandas.core.series.Series

In [9]:
Sales['Don']

450

In [11]:
Sales[0]

450

In [12]:
Sales > 500

Don      False
Mike      True
Edwin     True
dtype: bool

In [13]:
Sales[[False,True,True]]

Mike     650
Edwin    870
dtype: int64

In [14]:
'Don' in Sales

True

In [15]:
'Don' in Sales > 500

Don      False
Mike      True
Edwin     True
dtype: bool

In [16]:
450 in Sales

False

In [17]:
450 in [0]

False

In [18]:
sales_dict = Sales.to_dict()

In [19]:
sales_dict

{'Don': 450, 'Mike': 650, 'Edwin': 870}

In [20]:
sales_ser = Series(sales_dict)
sales_ser

Don      450
Mike     650
Edwin    870
dtype: int64

In [22]:
new_sales = Series(Sales, index=['Don', 'Mike', 'Sally', 'Edwin', 'Lucy'])
new_sales

Don      450.0
Mike     650.0
Sally      NaN
Edwin    870.0
Lucy       NaN
dtype: float64

In [23]:
np.isnan(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
Lucy      True
dtype: bool

In [24]:
np.isnan(new_sales['Sally'])

True

In [25]:
Sales.index.name = "Sales Person"
Sales

Sales Person
Don      450
Mike     650
Edwin    870
dtype: int64